<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center mb-3">Edit <%= sportground.title %> Sportground</h1>
  <div class="col-6 offset-3">
    <form
      novalidate
      class="needs-validation"
      class="mb-3"
      action="/sportgrounds/<%=sportground._id%>?_method=PUT"
      method="POST"
    >
      <div class="mb-3">
        <label class="form-label" for="name">Title</label>
        <input
          required
          class="form-control"
          type="text"
          id="name"
          name="sportgrounds[title]"
          value="<%=sportground.title %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          id="location"
          name="sportgrounds[location]"
          value="<%=sportground.location %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          type="text"
          id="description"
          name="sportgrounds[description]"
        >
<%= sportground.description %></textarea
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image URL</label>
        <input
          required
          class="form-control"
          type="text"
          id="image"
          name="sportgrounds[image]"
          value="<%= sportground.image %>"
        />
      </div>
      <div class="mb-3">
        <label for="players">Number of Players</label>
        <input
          required
          class="form-select"
          type="number"
          id="players"
          name="sportgrounds[players]"
          value="<%= sportground.players %>"
        />
      </div>
      <button class="btn btn-warning mb-3">Update Sportground</button>
    </form>
    <form
      action="/sportgrounds/<%=sportground._id%>?_method=DELETE"
      method="POST"
    >
      <button class="btn btn-danger">DELETE</button>
    </form>
    <hr />
    <button class="btn btn-info">
      <a style="text-decoration: none" href="/sportgrounds"
        >Back to Sportgrounds</a
      >
    </button>
  </div>
</div>
